@media screen and (max-width: 880px) {
  .filters__baloons {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 768px) {

  .container {
    padding-right: 10px;
    padding-left: 10px;
  }

  .filters {
    font-size: 0.7rem;
    padding-bottom: 4%;
    &__colors {
      width: 35%;
    }
    &__baloons {
      font-size: 0.7rem;
      width: 30%;
      padding-top: 1.2%;
      flex-wrap: wrap;
      justify-content: flex-start;
      &::after,
      &::before {
        top: 7%;
        width: 1px;
        height: 45px;
        content: "";
      }
      label[for="all-balloons"] {
        margin-right: 15%;
      }
      label[for="all-balloons"],
      label[for="kit"],
      label[for="on-one"] {
        margin-bottom: 6px;
        span {
          margin-bottom: 0;
        }
      }
    }
    &__price {
      &-title {
        height: 15px;
      }
    }
  }
  .goods {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {

  .filters {
    font-size: 0.875rem;
    padding-bottom: 6%;
    &__colors {
      display: flex;
      width: 23%;
      flex-wrap: wrap;
      label[for="red"],
      label[for="black"],
      label[for="yellow"],
      label[for="white"],
      label[for="green"],
      label[for="pink"],
      label[for="orange"] {
        margin: 5%;
      }
    }
    &__baloons {
      font-size: 0.875rem;
      margin-top: -4%;
      padding-top: 0;
      label[for="all-balloons"] {
        margin-right: 0;
      }
      label[for="all-balloons"],
      label[for="kit"],
      label[for="on-one"] {
        margin-bottom: 4px;
      }
      &::after,
      &::before {
        top: 0;
        width: 1px;
        height: 70px;
      }
      &::before {
        left: -25%;
      }
      &::after {
        right: 5%;
      }
    }
    &__price {
      font-size: 0.875rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {

  .filters {
    font-size: 0.75rem;
    &__colors {
      width: 33%;
      margin-top: 3%;
      &-title {
        padding-top: 2.5%;
      }
    }
    &__baloons {
      font-size: 0.75rem;
      &::after,
      &::before {
        top: 0;
        width: 1px;
        height: 70px;
        content: "";
      }
      &::before {
        left: -25%;
      }
      &::after {
        right: 5%;
      }
    }
    &__price {
      font-size: 0.75rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 390px) {

  h1 {
    font-size: 1.7rem;
    text-align: center;
  }
  .filters {
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
    &__colors {
      width: 74%;
      margin-top: 0;
      justify-content: center;
      label[for="red"],
      label[for="black"],
      label[for="yellow"],
      label[for="white"],
      label[for="green"],
      label[for="pink"],
      label[for="orange"] {
        margin: 2%;
      }
    }
    &__baloons {
      font-size: 0.7rem;
      width: 100%;
      padding-top: 9%;
      padding-bottom: 3%;
      border: none;
      justify-content: space-around;
      &::after,
      &::before {
        top: 0;
        width: 0;
        height: 0;
      }
    }
    &__price {
      width: 100%;
      text-align: center;
    }
  }

  .goods {
    justify-content: center;
    &__container {
      width: 80%;
      margin-top: 2%;
    }
    &__buy {
      margin: auto;
    }
  }

  footer {
    font-size: 0.875rem;
    .pages-number {
      width: 45%;
      justify-content: space-around;
    }
  }
}
