@mixin radius($radius) {
  border-radius: $radius;
  // -webkit-border-radius: $radius;
  // -moz-border-radius: $radius;
  // -ms-border-radius: $radius;
  // -o-border-radius: $radius;
  // W3C SHOWS - WARNING: "is an unknown vendor extension"
}
@mixin transform($param) {
  transform: $param;
  // -webkit-transform: $param;
  // -moz-transform: $param;
  // -ms-transform: $param;
  // -o-transform: $param;
  // W3C SHOWS - WARNING: "is an unknown vendor extension"
}
// COLORS
$white: #fff;
$black: #000;
$grey: #939ca2;
$lgrey: #d1dce7;
$sky: #eef8ff;
$red: #e30013;
$lblack: #3b3b3b;
$yellow: #e3c400;
$green: #76e300;
$pink: #e300a0;
$orange: #e37000;
// FONTS
$ffdef: Arial, Helvetica, sans-serif;
$ff1: "Open Sans";
$ff2: "Jazz Ball";
//SIZES
$fontdef: (14 / 16) + rem;

// ***************************
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: $ff1;
}

header,
main,
footer {
  margin: auto;
}

a:hover {
  text-decoration: none;
}

.filters,
footer {
  display: flex;
  padding-right: 1.5%;
  padding-left: 1.5%;
  border: 1px solid #e5f0fb;
  background-color: $sky;
  justify-content: space-between;
  align-items: center;
  @include radius(10px);
}
// *******************************

.container {
  max-width: 960px;
  margin: auto;
}

.routes {
  font-size: (13 / 16) + rem;
  padding-top: 25px;
  padding-bottom: 15px;
  color: $grey;
  a {
    color: $grey;
  }
  .home {
    &::after {
      content: " ⎯ ";
    }
    a::before {
      display: inline-block;
      width: 16px;
      height: 17px;
      margin-right: 7px;
      margin-bottom: -2px;
      content: "";
      background-image: url(../img/home.png);
      background-repeat: no-repeat;
    }
  }
  .catalog-goods {
    &::after {
      content: " ⎯ ";
    }
  }
}

.filters {
  font-size: $fontdef;
  display: flex;
  box-sizing: border-box;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 1.4%;
  padding-bottom: 1.4%;
  border: 1px solid lightgray;
  background-color: $sky;
  justify-content: space-between;
  &__colors {
    width: 30%;
    margin-left: -15px;
    input {
      display: none;
    }
    label[for="red"],
    label[for="black"],
    label[for="yellow"],
    label[for="white"],
    label[for="green"],
    label[for="pink"],
    label[for="orange"] {
      position: relative;
      display: inline-block;
      width: 17px;
      height: 17px;
      margin: 0.8%;
      cursor: pointer;
      vertical-align: middle;
      @include radius(50%);
    }
    label[for="red"] {
      background-color: $red;
    }
    label[for="black"] {
      background-color: $lblack;
    }
    label[for="yellow"] {
      background-color: $yellow;
    }
    label[for="white"] {
      background-color: $white;
    }
    label[for="green"] {
      background-color: $green;
    }
    label[for="pink"] {
      background-color: $pink;
    }
    label[for="orange"] {
      background-color: $orange;
    }
    input[type="radio"]:checked + label::before {
      position: absolute;
      top: -23%;
      left: -23%;
      width: 21px;
      height: 21px;
      content: "";
      border: 2px solid $red;
      @include radius(50%);
    }
  }
  &__baloons {
    font-size: 0.875rem;
    position: relative;
    display: flex;
    width: 35%;
    height: 1.5rem;
    align-self: center;
    justify-content: space-between;
    &::after,
    &::before {
      position: absolute;
      width: 1px;
      height: 23px;
      content: "";
      background-color: $lgrey;
    }
    &::before {
      left: -18%;
    }
    &::after {
      right: -12%;
    }
    input {
      display: none;
      &:checked + label span {
        background-color: $red;
      }
    }
    input:checked + label span::after {
      font-family: "home";
      font-size: 0.75rem;
      position: absolute;
      top: 15%;
      left: 15%;
      content: "\e802";
      color: $white;
      color: $white;
    }
    label[for="all-balloons"],
    label[for="kit"],
    label[for="on-one"] {
      position: relative;
      span {
        position: relative;
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-top: -4px;
        margin-right: 5px;
        cursor: pointer;
        vertical-align: middle;
        border: 1px solid $grey;
        background-color: $lgrey;
        @include radius(5px);
      }
    }
  }
  &__price {
    width: 24%;
    text-align: right;
    &-title {
      display: inline-block;
      height: 18px;
      cursor: pointer;
      color: $red;
      border-bottom: 1px dotted $red;
      &:hover {
        border-bottom: none;
      }
    }
    .arrow-1 {
      color: $red;
    }
  }
}

.goods {
  display: flex;
  flex-wrap: wrap;
  &__container {
    box-sizing: border-box;
    box-sizing: border-box;
    width: (960px / 5);
    padding: 15px 30px 15px;
    text-align: center;
    border: 1px solid $lgrey;
    @include radius(10px);
  }
  &__img {
    height: 130px;
  }
  &__title {
    font-size: $fontdef;
    font-weight: normal;
    height: 35px;
    margin-top: 5%;
    color: #0093ca;
  }
  &__description {
    font-size: (13 / 16) + rem;
    line-height: 1.3;
    height: 60px;
    margin-top: 5%;
  }
  &__price {
    height: 55px;
    p {
      width: 100%;
    }
    .price {
      font-weight: bold;
      display: inline-block;
    }
    .sale {
      position: relative;
      width: 50px;
      margin: auto;
      color: $grey;
      &:before {
        position: absolute;
        top: 40%;
        left: 4%;
        display: inline-block;
        width: 45px;
        height: 2px;
        margin: auto;
        content: "";
        background-color: $red;
        @include transform(rotate(-12deg));
      }
    }
  }
  &__buy {
    display: flex;
    width: 125px;
    justify-content: space-between;
    align-items: center;
    #count1,
    #count2,
    #count3,
    #count4,
    #count5,
    #count6,
    #count7 {
      display: inline-block;
      overflow: hidden;
      box-sizing: border-box;
      width: 60px;
      height: 30px;
      padding-right: 25px;
      padding-left: 8px;
      text-align: center;
      border: none;
      border: 1px solid grey;
      @include radius(20px);
    }
    label[for="count1"],
    label[for="count2"],
    label[for="count3"],
    label[for="count4"],
    label[for="count5"],
    label[for="count6"],
    label[for="count7"] {
      font-size: 0.75rem;
      margin-left: -30px;
    }
    #pay1,
    #pay2,
    #pay3,
    #pay4,
    #pay5,
    #pay6,
    #pay7 {
      display: none;
      border: none;
      background: none;
    }
    label[for="pay1"],
    label[for="pay2"],
    label[for="pay3"],
    label[for="pay4"],
    label[for="pay5"],
    label[for="pay6"],
    label[for="pay7"] {
      display: inline-block;
      width: 40px;
      height: 40px;
      cursor: pointer;
      text-align: center;
      background-color: red;
      @include radius(50%);
      &::after {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 12px;
        content: "";
        background-image: url(../img/shoping.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .add-btn,
    .subtract-btn {
      font-family: $ff2;
      font-size: 1rem;
      width: 10px;
      cursor: pointer;
      color: $grey;
      border: none;
      background: none;
    }
    .add-btn {
      position: relative;
      top: -5px;
      left: 6px;
    }
    .subtract-btn {
      position: relative;
      top: 10px;
      left: -8px;
    }
  }
}

footer {
  margin-top: 20px;
  margin-bottom: 25px;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  .pagination-wrapper {
    width: 145px;
  }
  .pagination {
    display: flex;
    width: 0;
    &__item {
      list-style: none;
    }
    &__link,
    &__dots-link {
      padding-right: 7px;
      padding-right: 7px;
    }
  }
  a {
    text-decoration: underline;
    color: #60666a;
  }
  .active {
    font-weight: bold;
  }
}
