@media screen and (max-width: 880px) {
  .filters__baloons {
    font-size: 0.7rem; } }

@media screen and (max-width: 768px) {
  .container {
    padding-right: 10px;
    padding-left: 10px; }
  .filters {
    font-size: 0.7rem;
    padding-bottom: 4%; }
    .filters__colors {
      width: 35%; }
    .filters__baloons {
      font-size: 0.7rem;
      width: 30%;
      padding-top: 1.2%;
      flex-wrap: wrap;
      justify-content: flex-start; }
      .filters__baloons::after, .filters__baloons::before {
        top: 7%;
        width: 1px;
        height: 45px;
        content: ""; }
      .filters__baloons label[for="all-balloons"] {
        margin-right: 15%; }
      .filters__baloons label[for="all-balloons"],
      .filters__baloons label[for="kit"],
      .filters__baloons label[for="on-one"] {
        margin-bottom: 6px; }
        .filters__baloons label[for="all-balloons"] span,
        .filters__baloons label[for="kit"] span,
        .filters__baloons label[for="on-one"] span {
          margin-bottom: 0; }
    .filters__price-title {
      height: 15px; }
  .goods {
    justify-content: center; } }

@media screen and (max-width: 600px) {
  .filters {
    font-size: 0.875rem;
    padding-bottom: 6%; }
    .filters__colors {
      display: flex;
      width: 23%;
      flex-wrap: wrap; }
      .filters__colors label[for="red"],
      .filters__colors label[for="black"],
      .filters__colors label[for="yellow"],
      .filters__colors label[for="white"],
      .filters__colors label[for="green"],
      .filters__colors label[for="pink"],
      .filters__colors label[for="orange"] {
        margin: 5%; }
    .filters__baloons {
      font-size: 0.875rem;
      margin-top: -4%;
      padding-top: 0; }
      .filters__baloons label[for="all-balloons"] {
        margin-right: 0; }
      .filters__baloons label[for="all-balloons"],
      .filters__baloons label[for="kit"],
      .filters__baloons label[for="on-one"] {
        margin-bottom: 4px; }
      .filters__baloons::after, .filters__baloons::before {
        top: 0;
        width: 1px;
        height: 70px; }
      .filters__baloons::before {
        left: -25%; }
      .filters__baloons::after {
        right: 5%; }
    .filters__price {
      font-size: 0.875rem;
      text-align: center; } }

@media screen and (max-width: 480px) {
  .filters {
    font-size: 0.75rem; }
    .filters__colors {
      width: 33%;
      margin-top: 3%; }
      .filters__colors-title {
        padding-top: 2.5%; }
    .filters__baloons {
      font-size: 0.75rem; }
      .filters__baloons::after, .filters__baloons::before {
        top: 0;
        width: 1px;
        height: 70px;
        content: ""; }
      .filters__baloons::before {
        left: -25%; }
      .filters__baloons::after {
        right: 5%; }
    .filters__price {
      font-size: 0.75rem;
      text-align: center; } }

@media screen and (max-width: 390px) {
  h1 {
    font-size: 1.7rem;
    text-align: center; }
  .filters {
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px; }
    .filters__colors {
      width: 74%;
      margin-top: 0;
      justify-content: center; }
      .filters__colors label[for="red"],
      .filters__colors label[for="black"],
      .filters__colors label[for="yellow"],
      .filters__colors label[for="white"],
      .filters__colors label[for="green"],
      .filters__colors label[for="pink"],
      .filters__colors label[for="orange"] {
        margin: 2%; }
    .filters__baloons {
      font-size: 0.7rem;
      width: 100%;
      padding-top: 9%;
      padding-bottom: 3%;
      border: none;
      justify-content: space-around; }
      .filters__baloons::after, .filters__baloons::before {
        top: 0;
        width: 0;
        height: 0; }
    .filters__price {
      width: 100%;
      text-align: center; }
  .goods {
    justify-content: center; }
    .goods__container {
      width: 80%;
      margin-top: 2%; }
    .goods__buy {
      margin: auto; }
  footer {
    font-size: 0.875rem; }
    footer .pages-number {
      width: 45%;
      justify-content: space-around; } }
